{% load macros %}
{% load blog_extras %}

{# blog_back_to_all macro. Defines a link that goes back to the page with all posts #}
{% macro blog_back_to_all %}
<div class="blog-back-to-all">
  &larr;&nbsp;<a href="{% url all_posts %}">Back to all posts</a>
</div>
{% endmacro %}

{# blog_post macro. Requires that post already be a Post object and that this macro be
   called in a <ul> tag #}
{% macro blog_post %}
<li class="post">
  <div class="heading">
    {% if post_list %}
      <div class="comments-link">
	<a href="{{ post.get_absolute_url }}#comment-section">{{ post.get_number_of_comments }} comments</a>
      </div>
    {% endif %}
    <div class="title"><h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1></div>
  </div>
  {% if post.has_edits %}
    <div class="time float-right">Last modified {{ post.modified }}</div>
  {% endif %}
  <span class="time">&mdash; Posted {{ post.created }} by {{ post.author }}</span>
  <hr />
  {% if post.tags %}
  <div class="tags">
    <ul>
      <li class="not-tag">Filed under:</li>
      {% for tag in post.tags.all %}
        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="post-content">
    {{ post.content|pygmentize }}
  </div>
</li>
{% endmacro %}

{# blog_pagination macro. Requires that it be used on a ListView template, that or standard
   pagination context objects are available. post_list should also be defined as the
   queryset/list of objects to display on the page #}
{% macro blog_pagination %}
{% if is_paginated %}
  <div class="pagination">
    <span class="page-links">
      <ul>
	{% if page_obj.has_previous %}
	  <li>
	    <a href="{{ post_list.get_absolute_url }}?page={{ page_obj.previous_page_number }}">&larr;</a>
	  </li>
	{% endif %}
	{% for page_num in paginator.page_range %}
	  <li>
	    <a class="{% if page_num == page_obj.number %}active{% else %}inactive{% endif %}" href="{{ post_list.get_absolute_url }}?page={{ page_num }}">{{ page_num }}</a>
	  </li>
	{% endfor %}
	{% if page_obj.has_next %}
	  <li>
	    <a href="{{ post_list.get_absolute_url }}?page={{ page_obj.next_page_number }}">&rarr;</a>
	  </li>
	{% endif %}
      </ul>
    </span>
  </div>
{% endif %}
{% endmacro %}

{# blog_archive_links macro. Provides a list of links to the monthly post archives
   Requires that ARCHIVE_LINKS be defined in the context (currently implemented in 
   context_processors.py) #}
{% macro blog_archive_links %}
<div class="blog-archive-links">
  <ul>
    <li class="blog-archive-all-posts"><a href="{% url all_posts %}">All posts</a></li>
    {% for link in ARCHIVE_LINKS %}
      <li><a href="{{ link.link }}">{{ link.link_text }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

