/* main stylesheet */

/* html tag rules */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: #119;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}

pre {
    width: 600px;
    overflow: auto;
}

/* generic css rules */

.text-centered {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

/* main page elements */

#django-blog-richtext-default-header {
    height: 100px;
    background-color: #888;
    color: #FFF;
    text-align: center;
    padding-top: 1em;
}

#site-wrapper {
    margin: 20px auto 0 auto;
    width: 900px;
}

#content-wrapper {
    background-color: #FFF;
    padding: 2em 1em 2em 1em;
    width: 720px;
}

#right-sidebar {
    background-color: #EEE;
    width: 180px;
    vertical-align: top;
}

#footer {
    margin-bottom: 60px;
}

/* header styles */

#header h1 a {
    color: #FFF;
    text-decoration: none;
}

/* notification messages */

ul.messages {
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

ul.messages li {
    padding: 0.5em;
}

ul.messages li.success {
    background-color: #FF944D;
    border: 1px solid #804A26;
}

ul.messages li.error {
    background-color: #FF4747;
    border: 1px solid #661C1C;
}

/* post styles */
.post {
    margin-bottom: 4em;
}

.post h1 {
    font-family: 'Lucida Console', Monaco;
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

.post hr {
    border-collapse: collapse;
    border-top: 1px solid #888;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0;
}

.post .title a {
    text-decoration: none;
    color: #888;
}

.post .title a:visited {
    color: #888;
}

.post .comments-link {
    float: right;
}

.post .comments-link a {
    color: #888;
    font-size: 14px;
    line-height: 2em;
}

.post .comments-link a:visited {
    color: #888;
}

.post .heading {
    clear: both;
}

.time {
    color: #888;
    font-style: italic;
}

.post .title a:hover {
    text-decoration: underline;
}

/* pagination styles */

.pagination {
    text-align: center;
    font-size: 14px;
}

.page-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-links ul li {
    display: inline;
    letter-spacing: 4px;
}

.page-links ul li a {
    color: #888;
    text-decoration: none;
}

.page-links ul li a:hover,
.page-links ul li a.active {
    color: #FF7519;
}

/* post nav link style */

.blog-back-to-all {
    margin-bottom: 1em;
}

.blog-back-to-all a {
    text-decoration: none;
    color: #888;
}

.blog-back-to-all a:hover {
    text-decoration: underline;
}

/* post styles */

#posts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.highlight pre {
    border: 1px solid #888;
    margin: 1em 2em;
    padding: 1em;
}

ul.form-fields {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.form-fields li {
  font-size: 13px;
  clear: both;
  min-height: 3em;
}

ul.form-fields ul.errorlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #777;
}

ul.form-fields ul.errorlist li {
  font-size: 11px;
  min-height: 0;
}

ul.form-fields .field-label, 
ul.form-fields .field-input {
  float: left;
  margin-bottom: 5px;
}

ul.form-fields .field-label {
  margin-right: 5px;
  width: 15em;
}

ul.form-fields .field-label label {
  text-transform: capitalize;
  float: left;
}

ul.form-fields li.required .field-label label {
    font-weight: bold;
}

ul.form-fields li.error .field-label label {
  color: #FF0505;
}

.field-label p.page-help {
  margin-top: 0.5em;
  font-size: 10px;
}

.errors {
  color: #FF0505;
}

.form-help {
  color: #777;
  margin-bottom: 1em;
}

ul.errorlist {
  margin: 1em 0;
  font-style: italic;
  padding-left: 2em;
  list-style-type: none;
}

.form-button {
  margin-bottom: 3em;
  clear: both;
}

/* captcha field */

img.captcha {
    display: block;
    margin-bottom: 0.5em;
}

/* comments */

#comments-section h3 {
    margin: 1.5em 0 1em 0;
}

ul.comments {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.comment {
    margin-bottom: 1em;
}

.comment h4 {
    display: inline;
}

.comment .name {
    font-weight: bold;
    color: #36F;
}

.comment .created {
    font-style: italic;
}

.comment .title {
    margin-bottom: 0.5em;
}

.comment .message {
    padding: 0 1em;
}

.comment .highlight {
    color: #F93;
}

/* tags */

.tags ul li {
    display: inline;
    padding-right: 0.5em;
    color: #888;
}

.tags ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #339;
}

.tags ul li a:hover {
    color: #8585C2;
}

/* sidebar styles */

.sidebar-items {
    padding: 1em;
}

.sidebar-item {
    margin-bottom: 1em;
}

.sidebar-item-header {
    color: #555;
    font-size: 14px;
    margin-bottom: 1em;
}

.sidebar-item-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-item-content ul li {
    margin-bottom: 0.5em;
}

.sidebar-item-content ul li a {
    text-decoration: none;
    color: #36F;
}

.sidebar-item-content ul li a:hover {
    text-decoration: underline;
}

/* sidebar blog archive links styles */

.blog-archive-links ul li.blog-archive-all-posts {
    margin-bottom: 1em;
}

/* sidebar blog feed links styles */

.blog-feed-links ul li {
    clear: both;
    height: 24px;
}

.blog-feed-links ul li a {
    display: block;
    line-height: 24px;
    vertical-align: middle;
    float: left;
    margin-right: 0.5em;
}

.blog-feed-links ul li:hover a.text-link {
    text-decoration: underline;
}

/* sidebar recent posts style */

.recent-posts ul {
    list-style-type: disc;
    list-style-position: inside;
}
