{% extends 'base.html' %}
{% load macros %}
{% loadmacros richtext_blog/blog-macros.html %}

{% block page_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}pygments.css" />
{% endblock %}

{% block title %}
{{ SITE.name }} &mdash; Posts tagged with "{{ tag.name }}"
{% endblock %}

{% block content %}
  <div id="content">
    {% usemacro blog_back_to_all %}
    <div class="post-list-title">Posts tagged with "{{ tag.name }}"</div>
    {% usemacro blog_pagination %}
    <div id="posts">
      <ul>
	{% for post in post_list %}
	  {% usemacro blog_post %}
	{% endfor %}
      </ul>
    </div>
    {% usemacro blog_pagination %}
    {% usemacro blog_back_to_all %}
  </div>
{% endblock %}
