{% extends 'blog-base.html' %}
{% load macros %}
{% loadmacros blog-macros.html %}

{% block content %}
<div id="posts">
  <ul>
    {% usemacro blog_post %}
  </ul>
</div>
<div id="comments">
  <ul>
    {% for comment in comments %}
    <li class="comment">
      <span class="name">{% if comment.name %}{{ comment.name }}{% else %}Anonymous{% endif %}</span>
      <span class="created">{{ comment.created }}</span>
      <div class="message">{{ comment.comment }}</span>
    </li>
    {% endfor %}
  </ul>
  <form method="POST" action="">
    {% if form.errors %}
      <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    {% endif %}
    <ul class="form-fields">
      {% for field in form %}
	<li class="{{ field.css_classes }}">
	  <div class="field-label">
	    <label for="id_{{ field.name }}">{{ field.label }}</label>:
	    {{ field.errors }}
	    <p class="page-help">
	      {{ field.help_text }}
	    </p>
	  </div>
	  <div class="field-input">
	    {{ field }}
	  </div>
	</li>
      {% endfor %}
    </ul>
    <div class="form-button">
      <input type="submit" value="Submit Comment" />
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
